{% extends 'base.html' %}

{% block content %}
    <!-- <div class='card_cover'> -->
        <div class='card2'>
            <form action='/user/create-notes' method='POST'>
                {% csrf_token %}
                <label for='restaurant'>Restaurant Name: </label>
                <input type='restaurant' name='restaurant' placeholder='Restaurant' class='field' required>

                <label for='restaurant_note'>Note: </label>
                <input type='restaurant_note' name='restaurant_note' placeholder='Note' class='field' required>

                <label for='personal_rating'>Rating: </label>
                <input type='personal_rating' name='personal_rating' placeholder='Rating' class='field' required>

                <input type='submit' value='Add Note' class='btn'>

                <div class='center' id='token_value'>
                </div>
            </form>
        </div>
    <!-- </div> -->
{% endblock %}
