{% extends 'base.html' %}

{% block content %}
    {% if response %}
        {{ response }}
    {% endif %}

    {% if user %}
        {% for key, value in user.items %}
            <h3>{{ key }} - {{ value }}</h3>
        {% endfor %}
        <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
    {% endif %}
    <body>
        <div class="">
            <form class="" action="/user/foodpicker" method="GET">
                <input type='submit' value='Get Some Food!' class='btn'>
            </form>
            <form class="" action="/user/create-notes" method="GET">
                <input type='submit' value='Notes' class='btn'>
            </form>
        </div>
    </body>

{% endblock %}
