{% extends 'base.html' %}

{% block content %}

    <h1 class='test'>frogs</h1>
<!-- <div class="card-wrapper2">
    <div class="card">
       <h2 class="center">Add Ballot Info</h2>
       <form name="ballot_item">
           <label for="item_name">Item Name</label>
           <input type="item_name" maxlength="15" name="item_name" class="field" required>

           <label for="description">Description</label>
           <input type="description" maxlength="100" name="description" class="field">

           <label for="image">Image (In Url Form)</label>
           <input type="text" name="image" class="field">

           <input onClick="alert('Item Has Been Added')" style="float: left; margin-left: 2em; width: 40%;" type="submit" value="Add Item" class="btn" required>
       </form>
       <form action="/dashboard/">
           <button style="float: left; margin-left: 2em; width: 40%; margin-top: 2.5em;" class="btn" required>
               Done
           </button>
       </form>
    </div>
</div> -->
{% endblock %}
