<head>
    <meta charset="utf-8">
    <title>Token Request</title>
</head>

{% extends 'base.html' %}

{% block content %}
    <body>
        <form action="/login/" method="POST">
            {% csrf_token %}
            <label for="your_name">Your Email: </label>
            <input type="email" name="email" placeholder="email">
            <label for="your_password">Password: </label>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="login">
        </form>
    </body>

{% endblock %}
