<head>
    <meta charset="utf-8">
    <title>Token Request</title>
</head>

{% extends 'base.html' %}

{% block content %}
    <div class="card2">
        <h1 class="center">Get Token:</h1>
        <form name="login_form" method="POST" id="form_login" onsubmit="return false">
            {% csrf_token %}
            <label for="your_name">Your Email: </label>
            <input type="email" name="email" placeholder="email" class="field">

            <label for="your_password">Password: </label>
            <input type="password" name="password" placeholder="Password" class="field">

            <input type="submit" value="login">
        </form>
        <div class="center">
            show token here!
        </div>
    </div>

    <script type="text/javascript">

    </script>
{% endblock %}
